@model BaZiCalculator.ViewModels.HomeViewModel

@{
    ViewBag.Title = "Ba Zi Calculator";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table class="table table-bordered">
    <tr>
        <th scope="row">Calculator</th>
        <th>Birth Time</th>
        <th>Birth Day</th>
        <th>Birth Month</th>
        <th>Birth Year</th>
    </tr>
    <tr>
        <th scope="row"></th>
        <td>@Model.BirthTime</td>
        <td>@Model.BirthDay</td>
        <td>@Model.BirthMonth</td>
        <td>@Model.BirthYear</td>
    </tr>

    <tr>
        <th scope="row" colspan="5">Results: This profile is @Model.FourPillarsResult.DayMasterLabel</th>
    </tr>
    <tr>
        <th scope="row"></th>
        <th>Total Yin:</th>
        <td>@Model.TotalYin</td>
        <th>Total Yang:</th>
        <td>@Model.TotalYang</td>
    </tr>
</table>
<table class="table table-bordered">
    <tr><th scope="row" colspan="5">5 Element Profile</th></tr>
    <tr>
        <td></td>
        <th scope="row">Fire</th>
        <td colspan="4">@Model.ElementTotals.FirePercent%</td>
    </tr>
    <tr>
        <td></td>
        <th scope="row">Earth</th>
        <td colspan="4">@Model.ElementTotals.EarthPercent%</td>
    </tr>
    <tr>
        <td></td>
        <th scope="row">Metal</th>
        <td colspan="4">@Model.ElementTotals.MetalPercent%</td>
    </tr>
    <tr>
        <td></td>
        <th scope="row">Water</th>
        <td colspan="4">@Model.ElementTotals.WaterPercent%</td>
    </tr>
    <tr>
        <td></td>
        <th scope="row">Wood</th>
        <td colspan="4">@Model.ElementTotals.WoodPercent%</td>
    </tr>
    <tr>
        <th scope="row" colspan="5">@Model.StatementOfExcessDeficient</th>
    </tr>
</table>


<table class="table table-bordered">
    <tr>
        <th scope="row" colspan="3">Constitutional Meridian Analysis</th>
    </tr>
    @foreach (var yy in Model.YinYangMeridianResult)
    {
        <tr>
            <th scope="row">@yy.Stem</th>
            <td>@yy.Meridian</td>
            <td>@yy.Count</td>
        </tr>
    }
    
</table>
<table class="table table-bordered">

    <tr><th scope="row" colspan="5">Four Pillars Bazi</div></tr>
    <tr>
        <th></th>
        <th>HOUR</th>
        <th>DAY</th>
        <th>MONTH</th>
        <th>YEAR</th>
    </tr>
    <tr>
        <th scope="row">STEMS</th>
        <td>@Model.FourPillarsResult.HourStem @Model.FourPillarsResult.HourStemValue</td>
        <td>@Model.FourPillarsResult.DayStem @Model.FourPillarsResult.DayStemValue</td>
        <td>@Model.FourPillarsResult.MonthStem @Model.FourPillarsResult.MonthStemValue</td>
        <td>@Model.FourPillarsResult.YearStem @Model.FourPillarsResult.YearStemValue</td>
    </tr>
    <tr>
        <th scope="row">BRANCHES</th>
        <td>@Model.FourPillarsResult.HourBranch</td>
        <td>@Model.FourPillarsResult.DayBranch</td>
        <td>@Model.FourPillarsResult.MonthBranch</td>
        <td>@Model.FourPillarsResult.YearBranch</td>
    </tr>
    <tr>
        <td></td>
        <td>@Model.FourPillarsResult.HourHiddenElements.HiddenElement @Model.FourPillarsResult.HourHiddenElements.HiddenElementValue</td>
        <td>@Model.FourPillarsResult.DayHiddenElements.HiddenElement @Model.FourPillarsResult.DayHiddenElements.HiddenElementValue</td>
        <td>@Model.FourPillarsResult.MonthHiddenElements.HiddenElement @Model.FourPillarsResult.MonthHiddenElements.HiddenElementValue</td>
        <td>@Model.FourPillarsResult.YearHiddenElements.HiddenElement @Model.FourPillarsResult.YearHiddenElements.HiddenElementValue</td>
    </tr>
    <tr>
        <td></td>
        <td>@Model.FourPillarsResult.HourHiddenElements.HiddenElement2 @Model.FourPillarsResult.HourHiddenElements.HiddenElement2Value</td>
        <td>@Model.FourPillarsResult.DayHiddenElements.HiddenElement2 @Model.FourPillarsResult.DayHiddenElements.HiddenElement2Value</td>
        <td>@Model.FourPillarsResult.MonthHiddenElements.HiddenElement2 @Model.FourPillarsResult.MonthHiddenElements.HiddenElement2Value</td>
        <td>@Model.FourPillarsResult.YearHiddenElements.HiddenElement2 @Model.FourPillarsResult.YearHiddenElements.HiddenElement2Value</td>
    </tr>
    <tr>
        <td></td>
        <td>@Model.FourPillarsResult.HourHiddenElements.HiddenElement3 @Model.FourPillarsResult.HourHiddenElements.HiddenElement3Value</td>
        <td>@Model.FourPillarsResult.DayHiddenElements.HiddenElement3 @Model.FourPillarsResult.DayHiddenElements.HiddenElement3Value</td>
        <td>@Model.FourPillarsResult.MonthHiddenElements.HiddenElement3 @Model.FourPillarsResult.MonthHiddenElements.HiddenElement3Value</td>
        <td>@Model.FourPillarsResult.YearHiddenElements.HiddenElement3 @Model.FourPillarsResult.YearHiddenElements.HiddenElement3Value</td>
    </tr>
</table>


