@model BaZiCalculator.ViewModels.HomeViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

@using (Html.BeginForm("Calculator", "Home"))
{

<table>
    <tr>
        <th>Calculator</th>
    </tr>

    <tr>
        <td>Birth Date:</td>
        <td>@Html.TextBoxFor(m => m.BirthDate, new { placeholder = "MM/DD/YYYY"})  @Html.ValidationMessageFor(m => m.BirthDate)</td>
        <td></td>
        
    </tr>
    <tr>
        <td>Birth Time:</td>
        <td>@Html.TextBoxFor(m => m.BirthTime, new { placeholder = "Military time (0-2359)", id = "birthTime" }) @Html.ValidationMessageFor(m => m.BirthTime)</td>
        <td>
            <label>@Html.CheckBoxFor(x => x.NoBirthTime)&nbsp;@Html.DisplayNameFor(x => x.NoBirthTime)</label>
        </td>
    </tr>
    <tr><td><button type="submit">Calculate</button></td></tr>

</table>
}
<script type="text/javascript">
    $(document).ready(function () {
        $('#NoBirthTime').click(

            function (e) {
                // code here to hide your text

                //var checked = $(this).attr('checked');
                if (this.checked) {
                    $('#birthTime').val('0');
                    $('.field-validation-error').prop('hidden', 'true');
                }

                else {
                    $('#birthTime').val('');
                }
            }
        )
    }
    );
</script>
